    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^task-it-6bf2613ef297.herokuapp.com/$ [NC,OR]
    RewriteCond %{HTTP_HOST} ^www.task-it-6bf2613ef297.herokuapp.com/$
    RewriteCond %{REQUEST_URI} !public/
    RewriteRule (.*) /public/$1 [L]
